<!DOCTYPE>
<html>
<head>
  <title>{% block title %}Web приложение на django{% endblock title %}</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
  <style>

  </style>
</head>
<body>
  <section id="sheet_name">
  </section>
  <hr>
  <section id="sheet_field">
  </section>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script>

  </script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script>
get_sheets = $.get( "{% url 'xapp:api-models:list' %}", function( data ) {
  data = data[0]
  $("#sheet_name").unbind().find('div').remove();
  _.each(data, function(element, index, sheets) {
    $("#sheet_name").append('<div/>');
    $("#sheet_name>div").last()
      .append(element.sheet)
      .on('click', function(e) {
        return get_fields(element.fields, element.url);
      } );
  } );
} );
get_fields = function( sheet_schema, url ) {
  $.get(url, function( data ) {
    filling_table(sheet_schema, data)
  } );
};
filling_table = function( sheet_schema, data ) {
  $("#sheet_field").unbind().find('table').remove();
  $("#sheet_field").append('<table/>');
  var dataSet = []
  var dataRow = []

  _.each(data , function( row, index, data ) {
      dataRow = []
      _.each(sheet_schema , function( column, index, sheet_schema ) {
          dataRow.push(row[column.id]);
      });
      dataSet.push(dataRow);
  } );
  var Columns = [];
  _.each(sheet_schema , function( column, index, sheet_schema ) {
      Columns.push({ "title": column.name });
  } );
  $('#sheet_field>table')
    .html( '<table' +
        'cellpadding="0" cellspacing="0" border="0"' +
        'class="display" id="example">' +
        '</table>'
    );
  var table = $('#sheet_field>table').dataTable( {
      "data": dataSet,
      "columns": Columns,
      "aLengthMenu": [[-1, 10, 25, 50, 100, 200, ],
                    ["All", 10, 25, 50, 100, 200, ]],
  } );
};
$(document).ready(function() {
    $('.dateinput').datepicker({
      format: "yyyy-mm-dd",
      changeMonth: true,
        changeYear: true
    });
});
</script>
</body>
</html>
