{% load staticfiles %}
<!DOCTYPE>
<html>
<head>
  <title>{% block title %}Web приложение на django{% endblock title %}</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
    <!-- <link rel="stylesheet" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->
  <link rel="stylesheet" href="{% static "xapp/css/main.css" %}">
</head>
<body>
  <section id="sheet_name">
  </section>
  <section id="content">
    <section id="sheet_field">
      <div></div>
    </section>
    <section id="object_form">
    </section>
  </section>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
  <script>

  </script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>

<script>
list_models_url = "{% url 'xapp:api-models:list' %}"
csrf_token = "{{ csrf_token }}"
</script>
<script src="{% static "xapp/js/main.js" %}"></script>
</body>
</html>
